body {
 background-image:url("../../picture/background-cafe.jpeg");
}
header {
    background-color: aquamarine;
    height: 80px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo {
    height: 120px;    
}
header .menu ul {
    display: flex;
    list-style: none;
}
header .menu ul li {
    margin-left: 50px;
}

h2 {
    background-color: #ffffff;
    width: fit-content;
}
h3 {
    background-color: #ffffff;
    width: fit-content;
}
.top-content {
    background-color: pink;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.image1, .image2, .image3 {
    height: 300px;
    width: 300px;
    background-color: #ffffff; 
    
}
.bottom-content {
    background-color: pink;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.texts {
    background-color: #ffffff;
}
.texts .day {
    color: orange;
}
/* レスポンシブ（CSS10おまけ課題） */
@media screen and (min-width:501px) {
    header {
        display: flex;
    }
    
}
@media screen and (max-width:500px) {
    header {
        background-color: pink;
    }
    header .menu ul {
        display: flex;
    }
    
}