.trump{
    display:flex;
    position: relative;
}
.spade,.heart{
    display:flex;
    margin-top:10vh;
}
p{
    width: 100px;
    height: 130px;
    border:black 2px solid;
    margin-left:0.5%;
}
.s1{
    position: absolute;
    left: 40px;
    background-color: aqua;
}
.s2{
    position: absolute;
    left: 80px;
    background-color: aqua;
}
.s3{
    position: absolute;
    left: 120px;
    background-color: aqua;
}
.s4{
    position: absolute;
    left: 160px;
    background-color: aqua;
}
.s5{
    position: absolute;
    left: 200px;
    background-color: aqua;
}
.s6{
    position: absolute;
    left: 240px;
    background-color: aqua;
}
.s7{
    position: absolute;
    left: 280px;
    background-color: aqua;
}
.s8{
    position: absolute;
    left: 320px;
    background-color: aqua;
}
.s9{
    position: absolute;
    left: 360px;
    background-color: aqua;
}
.s10{
    position: absolute;
    left: 400px;
    background-color: aqua;
}
.s11{
    position: absolute;
    left: 440px;
    background-color: aqua;
}
.s12{
    position: absolute;
    left: 480px;
    background-color: aqua;
}
.s13{
    position: absolute;
    left: 520px;
    background-color: aqua;
}
.h1{
    position: absolute;
    left: 1140px;
    background-color: pink;
    z-index: 13;
}
.h2{
    position: absolute;
    top: 100px;
    left: 1100px;
    background-color: pink;
    z-index: 12;
}
.h3{
    position: absolute;
    top: 140px;
    left: 1060px;
    background-color: pink;
    z-index: 11;
}
.h4{
    position: absolute;
    top: 180px;
    left: 1020px;
    background-color: pink;
    z-index: 10;
}
.h5{
    position: absolute;
    top: 220px;
    left: 980px;
    background-color: pink;
    z-index: 9;
}
.h6{
    position: absolute;
    top: 260px;
    left: 940px;
    background-color: pink;
    z-index: 8;
}
.h7{
    position: absolute;
    top: 300px;
    left: 900px;
    background-color: pink;
    z-index: 7;
}
.h8{
    position: absolute;
    top: 260px;
    left: 860px;
    background-color: pink;
    z-index: 6;
}
.h9{
    position: absolute;
    top: 220px;
    left: 820px;
    background-color: pink;
    z-index: 5;
}
.h10{
    position: absolute;
    top: 180px;
    left: 780px;
    background-color: pink;
    z-index: 4;
}
.h11{
    position: absolute;
    top: 140px;
    left: 740px;
    background-color: pink;
    z-index: 3;
}
.h12{
    position: absolute;
    top: 100px;
    left: 700px;
    background-color: pink;
    z-index: 2;
}
.h13{
    position: absolute;
    left: 660px;
    background-color: pink;
    z-index: 1;
}