body {
    background-color: aquamarine;
}
.sp img {
    width: 400px;
    height: 400px;
}
@media screen and (min-width:501px) {
    .sp {
        display: flex;
    }
    
}

@media screen and (max-width:500px) {
    body {
        background-color: yellow;
    }
    .sp img {
        width: 100%;
    }
}