/* bodyは触らない */
body {
 background-color:pink;
}
div{
    font-size: 20px;
    font-family: Arial;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 24px;
}
ol{
    font-size: 18px;
    color: blue;
}
.abc{
    color: red;
}
#abc{
    color: yellow;
}

/* divのフォントサイズをCSSで20に設定 */
/* div内のフォントをArialに設定 /* body*/


/* h3の文字の大きさをCSSで28に設定 */
/* h4の文字の大きさを24にする */
/* ナンバリングリストの文字の大きさ18px */
/* ナンバリングリストの文字の色 青色 */


/*  クラス名"abc"の文字を赤色 */
/*  id名"abc"の文字を黄色 */
