header, footer{
    height: 50px;
    width: 100%;
    background-color: gray;
}
.zone{
    height: 500px;
    width: 100%;
    background-color: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
}
.l-zone{
    height: 200px;
    width: 200px;
    background: linear-gradient(to top,red,purple);
}
.c-zone{
    height: 200px;
    width: 200px;
    background: linear-gradient(to right,blue,skyblue);
}
.r-zone{
    height: 200px;
    width: 200px;
    background: linear-gradient(to bottom,yellow,orange);
}