body {
    font-family: Arial;
    max-width: 500px;
    margin: 50px auto;
}

input {
    padding: 8px;
    width: 70%;
}

button {
    padding: 8px 15px;
}

li {
    margin: 10px 0;
}

.done {
    text-decoration: line-through;
    color: gray;
}