body {
    margin-top: 20%;
    margin-left: 10%;
}
.t_tranlate {
    background-color: #666;
    width: 500px;
    height: 200px;
}
.tranlate {
    background-color: pink;
    width: 100px;
    height: 100px;
    transform: translate(-20%,70%);
}
.t_rotate {
    background-color: blue;
    width: 300px;
    height: 300px;
    margin-left: 5%;
    margin-bottom: 10%;
    margin-top: 10%;
    transform-style: preserve-3d;
}
.rotate {
    background-color: yellow;
    width: 300px;
    height: 300px;
    transform: rotate(45deg);
    opacity: 0.7;
}
.t_scale {
    margin-bottom: 20%;
}
.scale {
    background-color: black;
    width: 300px;
    height: 300px;
    transform: scale(0.7,1);
}
.t_skew {
    background-color: #6666;
    width: 500px;
    height: 200px;
    margin-bottom: 20%;
}
.skew {
    background-color: #666;
    width: 300px;
    height: 100px;
    transform: skew(45deg);
}
.box {
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: 2px solid black;
    transform: perspective(500px) rotateY(50deg);
    transform-style: preserve-3d;
}
.item {
    width: 200px;
    height: 150px;
    background-color: lightyellow;
    border: 2px solid black;
    transform: rotateX(40deg);
}