body{
    background-color: #999;
    width: 100%;
    height: 100%;
    margin: 2%;
}
ul, li{
    margin: 40px 40px;
}
.main{
    list-style: none;
    background-color: pink;
    border: 15px solid;
    border-color: yellow;
    width: 50%;
    height: auto;
    margin: 5% 5%;
}
.area1, .area2, .area3{
    color: white;
    width: 70px;
}
.area1{
    background-color: black;
    opacity: 0.6;
}
.area2{
    background :linear-gradient(to right,blue,rgb(0, 255, 0)) ;
}
.area3{
    background: linear-gradient(to top left,red,orange,yellow);
}